
<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="home"></ion-back-button>
    </ion-buttons>
    <ion-title>Flashlight</ion-title>
  </ion-toolbar>
</ion-header>



<ion-content>
  <ion-progress-bar type="indeterminate" reversed="true"></ion-progress-bar>
<ion-button  expand="block" (clicked)= "Flashlight()">Flashlight <ion-icon slot="end" name="flashlight"></ion-icon></ion-button>
<ion-progress-bar type="indeterminate" reversed="true"></ion-progress-bar>
</ion-content>
