<ionic-header>
  <ion-toolbar translucent>
    <ion-title>Menu</ion-title>
  </ion-toolbar>
</ionic-header>

<ion-content [fullscreen]="true">
  <body>
    <ion-app>
      <ion-menu side="start" content-id="main-content">
        <ion-header>
          <ion-toolbar color="primary">
            <ion-title>Menu</ion-title>
          </ion-toolbar>
        </ion-header>
        <ion-content>
          <ion-list>
            <ion-item>
              <ion-icon name="rainy" slot="start"></ion-icon>
              <ion-tab-button href="../weather">weather</ion-tab-button>
            </ion-item>

            <ion-item>
              <ion-icon name="camera" slot="start"></ion-icon>
              <ion-tab-button href="../camera">camera</ion-tab-button>
            </ion-item>

            <ion-item>
              <ion-icon name="flashlight" slot="start"></ion-icon>
              <ion-tab-button href="../flashlight">flashlight</ion-tab-button>
            </ion-item>

            <ion-item>
              <ion-icon name="calculator" slot="start"></ion-icon>
              <ion-tab-button href="../calculator">calculator</ion-tab-button>
            </ion-item>

          </ion-list>
        </ion-content>
      </ion-menu>

      <div class="ion-page" id="main-content">
        <ion-header>
          <ion-toolbar>
            <ion-buttons slot="start">
              <ion-menu-button></ion-menu-button>
            </ion-buttons>
            <ion-title>Project App</ion-title>
          </ion-toolbar>
        </ion-header>
        <ion-content>
    
  
          <h1>Welcome to the project app page</h1>
        
          <h2>contents</h2>


    
        </ion-content>
       
      </div>
    </ion-app>
    <script>
      async function openMenu() {
        await menuController.open();
      }
    </script>

    
    
    

   
  </body>
</ion-content>






